<div class="row custom-row">
	<div class="col-sm-5 custom-container jumbotron">
		
		<form novalidate 
		(ngSubmit) = "onFormSubmit(signupForm)" 
		class="form-horizontal" 
		#signupForm = "ngForm">
			<fieldset>
				<legend>Signup</legend>

				<!-- Email Block -->
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input 
					type="text" 
					id="inputEmail" 
					[ngModel] = "user.email" 
					name="email" 
					#email = "ngModel" 
					placeholder="Email" 
					pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  
					required>
				</div>

				<!-- Email Error Section -->
				<div *ngIf="email.invalid && (email.dirty || email.touched)"
				class="alert alert-danger" >
					<div *ngIf="email.errors?.required">
						Email Field can't be blank
					</div>
					<div *ngIf="email.errors?.pattern && email.touched">
						The email id doesn't seem right
					</div>
				</div>

				<!-- Password Block -->
				<div ngModelGroup="password" #userPassword="ngModelGroup" required>
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input 
						type="text" 
						id="inputPassword" 
						ngModel 
						name="pwd" 
						#pwd = "ngModel" 
						minlength="8"  
						placeholder="Password" 
						required>
					</div>

					<!-- Confirm Password Block -->
					<div class="form-group">
						<label for="confirmPassword">Confirm Password</label>
						<input 
						type="text" 
						id="confirmPassword" 
						ngModel 
						name="confirmPwd" 
						placeholder="Confirm Password" 
						required>
					</div>

					<!-- Password error block -->
					<div *ngIf="(userPassword.invalid || userPassword.value?.pwd != userPassword.value?.confirmPwd) && (userPassword.touched)" 
					class="alert alert-danger">
						<div *ngIf="userPassword.invalid; else nomatch">
							Password need to be atleast 8 characters
						</div>
						<ng-template #nomatch>
							Password don't match
						</ng-template>
					</div>
				</div>

				<!-- Select Gender Block -->
				<div class="form-group">
					<label for="select">Gender</label>
					<select 
					id="select" 
					[ngModel] = "user.gender" 
					name="gender">
						<option *ngFor="let g of gender" [value]="g">{{g}}</option>
					</select>
				</div>

				<!-- Terms and Condition Block -->
				<div class="form-group">
					<label>
						<input 
						type="checkbox" 
						[ngModel] = "user.terms" 
						name="terms" 
						required> Confirm that you've read the terms and conditions
					</label>
				</div>

				<!-- Submit Block -->
				<div class="form-group">
					<button type="reset" class="btn btn-default">Cancel</button>
					<button 
					type="submit" 
					class="btn btn-success"
					[disabled]="!signupForm.form.valid">Submit</button>
				</div>
			</fieldset>
		</form>
		{{signupForm.value | json}}
		{{user | json}}

	</div>
</div>
